//
// Generated (version 2021.4-SP1.2<build 96435>) at Sat Feb  4 16:18:26 2023
//

module flow_ledN
(
    input sys_clk,
    input sys_rst_n,
    output [3:0] led
);
	// SDC constraint : (object sys_clk) (id 1000) (clock clock) (39 : C:/Users/93462/PdsProject/fpga-learn/project/flow_led.fdc)
    wire N0;
    wire N26;
    wire [23:0] N28;
    wire _N13;
    wire _N21;
    wire _N29;
    wire _N37;
    wire _N45;
    wire _N48;
    wire _N49;
    wire _N50;
    wire _N51;
    wire _N52;
    wire _N53;
    wire _N54;
    wire _N55;
    wire _N56;
    wire _N57;
    wire _N58;
    wire _N59;
    wire _N60;
    wire _N61;
    wire _N62;
    wire _N63;
    wire _N64;
    wire _N65;
    wire _N66;
    wire _N67;
    wire _N68;
    wire _N69;
    wire _N70;
    wire _N107;
    wire _N108;
    wire _N109;
    wire _N110;
    wire _N117;
    wire _N127;
    wire [23:0] counter;
    wire [3:0] nt_led;
    wire nt_sys_clk;
    wire nt_sys_rst_n;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    GTP_INV N0_vname (
            .Z (N0),
            .I (nt_sys_rst_n));
    // defparam N0_vname.orig_name = N0;

    GTP_LUT3 /* N3_mux6_5 */ #(
            .INIT(8'b01111111))
        N3_mux6_5 (
            .Z (_N117),
            .I0 (counter[1]),
            .I1 (counter[0]),
            .I2 (counter[2]));
	// LUT = (~I2)|(~I1)|(~I0) ;

    GTP_LUT5 /* N3_mux6_7 */ #(
            .INIT(32'b11111111111111110111111111111111))
        N3_mux6_7 (
            .Z (_N13),
            .I0 (counter[6]),
            .I1 (counter[5]),
            .I2 (counter[3]),
            .I3 (counter[4]),
            .I4 (_N117));
	// LUT = (~I3)|(~I2)|(~I1)|(~I0)|(I4) ;

    GTP_LUT5 /* N3_mux10_1 */ #(
            .INIT(32'b01110111011111110111011101110111))
        N3_mux10_1 (
            .Z (_N21),
            .I0 (counter[10]),
            .I1 (counter[9]),
            .I2 (counter[7]),
            .I3 (counter[8]),
            .I4 (_N13));
	// LUT = (~I1)|(~I0)|(~I2&~I3&I4) ;

    GTP_LUT5 /* N3_mux14 */ #(
            .INIT(32'b00000000000100110000000000010001))
        N3_mux14 (
            .Z (_N29),
            .I0 (counter[12]),
            .I1 (counter[14]),
            .I2 (counter[11]),
            .I3 (counter[13]),
            .I4 (_N21));
	// LUT = (~I0&~I1&~I3)|(~I1&~I2&~I3&I4) ;

    GTP_LUT5 /* N3_mux18 */ #(
            .INIT(32'b00000000000000110000000000000001))
        N3_mux18 (
            .Z (_N37),
            .I0 (counter[15]),
            .I1 (counter[18]),
            .I2 (counter[16]),
            .I3 (counter[17]),
            .I4 (_N29));
	// LUT = (~I0&~I1&~I2&~I3)|(~I1&~I2&~I3&I4) ;

    GTP_LUT5 /* N3_mux22 */ #(
            .INIT(32'b00010001000100010000000100010001))
        N3_mux22 (
            .Z (_N45),
            .I0 (counter[22]),
            .I1 (counter[21]),
            .I2 (counter[19]),
            .I3 (counter[20]),
            .I4 (_N37));
	// LUT = (~I0&~I1&~I3)|(~I0&~I1&~I2)|(~I0&~I1&I4) ;

    GTP_LUT5CARRY /* N5_0_0 */ #(
            .INIT(32'b11001100110011000000000000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("FALSE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_0 (
            .COUT (_N48),
            .Z (),
            .CIN (),
            .I0 (),
            .I1 (counter[0]),
            .I2 (),
            .I3 (),
            .I4 (),
            .ID ());
	// LUT = I1 ;
	// CARRY = (1'b0) ? CIN : (I1) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_1 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_1 (
            .COUT (_N49),
            .Z (N28[1]),
            .CIN (_N48),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[1]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_2 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_2 (
            .COUT (_N50),
            .Z (N28[2]),
            .CIN (_N49),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[2]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_3 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_3 (
            .COUT (_N51),
            .Z (N28[3]),
            .CIN (_N50),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[3]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_4 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_4 (
            .COUT (_N52),
            .Z (N28[4]),
            .CIN (_N51),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[4]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_5 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_5 (
            .COUT (_N53),
            .Z (N28[5]),
            .CIN (_N52),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[5]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_6 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_6 (
            .COUT (_N54),
            .Z (N28[6]),
            .CIN (_N53),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[6]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_7 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_7 (
            .COUT (_N55),
            .Z (N28[7]),
            .CIN (_N54),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[7]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_8 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_8 (
            .COUT (_N56),
            .Z (N28[8]),
            .CIN (_N55),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[8]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_9 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_9 (
            .COUT (_N57),
            .Z (N28[9]),
            .CIN (_N56),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[9]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_10 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_10 (
            .COUT (_N58),
            .Z (N28[10]),
            .CIN (_N57),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[10]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_11 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_11 (
            .COUT (_N59),
            .Z (N28[11]),
            .CIN (_N58),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[11]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_12 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_12 (
            .COUT (_N60),
            .Z (N28[12]),
            .CIN (_N59),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[12]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_13 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_13 (
            .COUT (_N61),
            .Z (N28[13]),
            .CIN (_N60),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[13]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_14 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_14 (
            .COUT (_N62),
            .Z (N28[14]),
            .CIN (_N61),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[14]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_15 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_15 (
            .COUT (_N63),
            .Z (N28[15]),
            .CIN (_N62),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[15]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_16 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_16 (
            .COUT (_N64),
            .Z (N28[16]),
            .CIN (_N63),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[16]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_17 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_17 (
            .COUT (_N65),
            .Z (N28[17]),
            .CIN (_N64),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[17]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_18 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_18 (
            .COUT (_N66),
            .Z (N28[18]),
            .CIN (_N65),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[18]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_19 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_19 (
            .COUT (_N67),
            .Z (N28[19]),
            .CIN (_N66),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[19]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_20 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_20 (
            .COUT (_N68),
            .Z (N28[20]),
            .CIN (_N67),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[20]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_21 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_21 (
            .COUT (_N69),
            .Z (N28[21]),
            .CIN (_N68),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[21]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_22 */ #(
            .INIT(32'b01001000010110101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_22 (
            .COUT (_N70),
            .Z (N28[22]),
            .CIN (_N69),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[22]),
            .I3 (counter[23]),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2&~I3)|(~CIN&I2&~I3)|(CIN&I1&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5CARRY /* N5_0_23 */ #(
            .INIT(32'b01001010010010101111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N5_0_23 (
            .COUT (),
            .Z (N28[23]),
            .CIN (_N70),
            .I0 (),
            .I1 (_N45),
            .I2 (counter[23]),
            .I3 (),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&~I2)|(~CIN&I1&I2) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/flow_ledN.v:12

    GTP_LUT5 /* N26_6 */ #(
            .INIT(32'b00000000000000100000000000000000))
        N26_6 (
            .Z (_N110),
            .I0 (counter[19]),
            .I1 (counter[18]),
            .I2 (counter[16]),
            .I3 (counter[17]),
            .I4 (counter[20]));
	// LUT = I0&~I1&~I2&~I3&I4 ;

    GTP_LUT4 /* N26_9 */ #(
            .INIT(16'b1000000000000000))
        N26_9 (
            .Z (N26),
            .I0 (_N108),
            .I1 (_N107),
            .I2 (_N110),
            .I3 (_N109));
	// LUT = I0&I1&I2&I3 ;

    GTP_LUT5 /* N26_13 */ #(
            .INIT(32'b00001000000000000000000000000000))
        N26_13 (
            .Z (_N107),
            .I0 (counter[3]),
            .I1 (counter[2]),
            .I2 (counter[11]),
            .I3 (counter[1]),
            .I4 (counter[4]));
	// LUT = I0&I1&~I2&I3&I4 ;

    GTP_LUT5 /* N26_18 */ #(
            .INIT(32'b10000000000000000000000000000000))
        N26_18 (
            .Z (_N108),
            .I0 (counter[15]),
            .I1 (counter[12]),
            .I2 (counter[5]),
            .I3 (counter[6]),
            .I4 (counter[23]));
	// LUT = I0&I1&I2&I3&I4 ;

    GTP_LUT5 /* N26_21 */ #(
            .INIT(32'b00000000000010000000000000000000))
        N26_21 (
            .Z (_N127),
            .I0 (counter[10]),
            .I1 (counter[9]),
            .I2 (counter[7]),
            .I3 (counter[8]),
            .I4 (counter[0]));
	// LUT = I0&I1&~I2&~I3&I4 ;

    GTP_LUT5 /* N26_22 */ #(
            .INIT(32'b00000000000000010000000000000000))
        N26_22 (
            .Z (_N109),
            .I0 (counter[22]),
            .I1 (counter[21]),
            .I2 (counter[13]),
            .I3 (counter[14]),
            .I4 (_N127));
	// LUT = ~I0&~I1&~I2&~I3&I4 ;

    GTP_LUT3 /* \N28[0]_0  */ #(
            .INIT(8'b00110001))
        \N28[0]_0  (
            .Z (N28[0]),
            .I0 (counter[23]),
            .I1 (counter[0]),
            .I2 (_N45));
	// LUT = (~I0&~I1)|(~I1&I2) ;
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[0]  (
            .Q (counter[0]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[0]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[1]  (
            .Q (counter[1]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[1]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[2]  (
            .Q (counter[2]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[2]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[3]  (
            .Q (counter[3]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[3]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[4]  (
            .Q (counter[4]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[4]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[5]  (
            .Q (counter[5]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[5]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[6]  (
            .Q (counter[6]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[6]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[7]  (
            .Q (counter[7]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[7]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[8]  (
            .Q (counter[8]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[8]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[9]  (
            .Q (counter[9]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[9]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[10]  (
            .Q (counter[10]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[10]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[11]  (
            .Q (counter[11]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[11]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[12]  (
            .Q (counter[12]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[12]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[13]  (
            .Q (counter[13]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[13]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[14]  (
            .Q (counter[14]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[14]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[15]  (
            .Q (counter[15]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[15]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[16]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[16]  (
            .Q (counter[16]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[16]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[17]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[17]  (
            .Q (counter[17]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[17]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[18]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[18]  (
            .Q (counter[18]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[18]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[19]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[19]  (
            .Q (counter[19]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[19]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[20]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[20]  (
            .Q (counter[20]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[20]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[21]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[21]  (
            .Q (counter[21]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[21]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[22]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[22]  (
            .Q (counter[22]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[22]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_C /* \counter[23]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \counter[23]  (
            .Q (counter[23]),
            .C (N0),
            .CLK (nt_sys_clk),
            .D (N28[23]));
	// ../../rtl/flow_ledN.v:8

    GTP_DFF_PE /* \led[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b1))
        \led[0]  (
            .Q (nt_led[0]),
            .CE (N26),
            .CLK (nt_sys_clk),
            .D (nt_led[3]),
            .P (N0));
	// ../../rtl/flow_ledN.v:18

    GTP_DFF_CE /* \led[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led[1]  (
            .Q (nt_led[1]),
            .C (N0),
            .CE (N26),
            .CLK (nt_sys_clk),
            .D (nt_led[0]));
	// ../../rtl/flow_ledN.v:18

    GTP_DFF_CE /* \led[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led[2]  (
            .Q (nt_led[2]),
            .C (N0),
            .CE (N26),
            .CLK (nt_sys_clk),
            .D (nt_led[1]));
	// ../../rtl/flow_ledN.v:18

    GTP_DFF_CE /* \led[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led[3]  (
            .Q (nt_led[3]),
            .C (N0),
            .CE (N26),
            .CLK (nt_sys_clk),
            .D (nt_led[2]));
	// ../../rtl/flow_ledN.v:18

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="F3", PAP_IO_VCCIO="1.2", PAP_IO_STANDARD="LVCMOS12", PAP_IO_DRIVE="2", PAP_IO_PULLUP="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[0]  (
            .O (led[0]),
            .I (nt_led[0]));
	// ../../rtl/flow_ledN.v:3

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="J6", PAP_IO_VCCIO="1.2", PAP_IO_STANDARD="LVCMOS12", PAP_IO_DRIVE="2", PAP_IO_PULLUP="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[1]  (
            .O (led[1]),
            .I (nt_led[1]));
	// ../../rtl/flow_ledN.v:3

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="J7", PAP_IO_VCCIO="1.2", PAP_IO_STANDARD="LVCMOS12", PAP_IO_DRIVE="2", PAP_IO_PULLUP="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[2]  (
            .O (led[2]),
            .I (nt_led[2]));
	// ../../rtl/flow_ledN.v:3

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="G1", PAP_IO_VCCIO="1.2", PAP_IO_STANDARD="LVCMOS12", PAP_IO_DRIVE="2", PAP_IO_PULLUP="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[3]  (
            .O (led[3]),
            .I (nt_led[3]));
	// ../../rtl/flow_ledN.v:3

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="B5", PAP_IO_VCCIO="1.2", PAP_IO_STANDARD="LVCMOS12", PAP_IO_PULLUP="TRUE" *)    (* PAP_DONT_TOUCH *) GTP_INBUF /* sys_clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_clk_ibuf (
            .O (nt_sys_clk),
            .I (sys_clk));
	// ../../rtl/flow_ledN.v:1

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="G5", PAP_IO_VCCIO="1.2", PAP_IO_STANDARD="LVCMOS12", PAP_IO_PULLUP="TRUE" *)    (* PAP_DONT_TOUCH *) GTP_INBUF /* sys_rst_n_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_rst_n_ibuf (
            .O (nt_sys_rst_n),
            .I (sys_rst_n));
	// ../../rtl/flow_ledN.v:2


endmodule

