//
// Generated (version 2021.4-SP1.2<build 96435>) at Sun Feb 19 10:11:07 2023
//

module uart_loop
(
    input [7:0] recv_data,
    input recv_done,
    input sys_clk,
    input sys_rst_n,
    input tx_busy,
    output [7:0] send_data,
    output N2,
    output send_en
);
    wire N18;
    wire N21;
    wire recv_done_d0;
    wire recv_done_d1;
    wire recv_done_flag;
    wire tx_ready;

    GTP_LUT2 /* N1 */ #(
            .INIT(4'b0100))
        N1 (
            .Z (recv_done_flag),
            .I0 (recv_done_d1),
            .I1 (recv_done_d0));
	// LUT = ~I0&I1 ;
	// ../../rtl/uart_loop.v:21

    GTP_INV N2_vname (
            .Z (N2),
            .I (sys_rst_n));
    // defparam N2_vname.orig_name = N2;

    GTP_LUT4 /* N18 */ #(
            .INIT(16'b0000101011001110))
        N18_vname (
            .Z (N18),
            .I0 (recv_done_d0),
            .I1 (tx_ready),
            .I2 (recv_done_d1),
            .I3 (tx_busy));
    // defparam N18_vname.orig_name = N18;
	// LUT = (I1&~I3)|(I0&~I2) ;
	// ../../rtl/uart_loop.v:36

    GTP_LUT2 /* N21_1 */ #(
            .INIT(4'b1011))
        N21_1 (
            .Z (N21),
            .I0 (recv_done_d1),
            .I1 (recv_done_d0));
	// LUT = (~I1)|(I0) ;

    GTP_DFF_C /* recv_done_d0 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        recv_done_d0_vname (
            .Q (recv_done_d0),
            .C (N2),
            .CLK (sys_clk),
            .D (recv_done));
    // defparam recv_done_d0_vname.orig_name = recv_done_d0;
	// ../../rtl/uart_loop.v:24

    GTP_DFF_C /* recv_done_d1 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        recv_done_d1_vname (
            .Q (recv_done_d1),
            .C (N2),
            .CLK (sys_clk),
            .D (recv_done_d0));
    // defparam recv_done_d1_vname.orig_name = recv_done_d1;
	// ../../rtl/uart_loop.v:24

    GTP_DFF_CE /* \send_data[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \send_data[0]  (
            .Q (send_data[0]),
            .C (N2),
            .CE (recv_done_flag),
            .CLK (sys_clk),
            .D (recv_data[0]));
	// ../../rtl/uart_loop.v:36

    GTP_DFF_CE /* \send_data[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \send_data[1]  (
            .Q (send_data[1]),
            .C (N2),
            .CE (recv_done_flag),
            .CLK (sys_clk),
            .D (recv_data[1]));
	// ../../rtl/uart_loop.v:36

    GTP_DFF_CE /* \send_data[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \send_data[2]  (
            .Q (send_data[2]),
            .C (N2),
            .CE (recv_done_flag),
            .CLK (sys_clk),
            .D (recv_data[2]));
	// ../../rtl/uart_loop.v:36

    GTP_DFF_CE /* \send_data[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \send_data[3]  (
            .Q (send_data[3]),
            .C (N2),
            .CE (recv_done_flag),
            .CLK (sys_clk),
            .D (recv_data[3]));
	// ../../rtl/uart_loop.v:36

    GTP_DFF_CE /* \send_data[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \send_data[4]  (
            .Q (send_data[4]),
            .C (N2),
            .CE (recv_done_flag),
            .CLK (sys_clk),
            .D (recv_data[4]));
	// ../../rtl/uart_loop.v:36

    GTP_DFF_CE /* \send_data[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \send_data[5]  (
            .Q (send_data[5]),
            .C (N2),
            .CE (recv_done_flag),
            .CLK (sys_clk),
            .D (recv_data[5]));
	// ../../rtl/uart_loop.v:36

    GTP_DFF_CE /* \send_data[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \send_data[6]  (
            .Q (send_data[6]),
            .C (N2),
            .CE (recv_done_flag),
            .CLK (sys_clk),
            .D (recv_data[6]));
	// ../../rtl/uart_loop.v:36

    GTP_DFF_CE /* \send_data[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \send_data[7]  (
            .Q (send_data[7]),
            .C (N2),
            .CE (recv_done_flag),
            .CLK (sys_clk),
            .D (recv_data[7]));
	// ../../rtl/uart_loop.v:36

    GTP_DFF_CE /* send_en */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        send_en_vname (
            .Q (send_en),
            .C (N2),
            .CE (N18),
            .CLK (sys_clk),
            .D (N21));
    // defparam send_en_vname.orig_name = send_en;
	// ../../rtl/uart_loop.v:36

    GTP_DFF_CE /* tx_ready */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        tx_ready_vname (
            .Q (tx_ready),
            .C (N2),
            .CE (N18),
            .CLK (sys_clk),
            .D (recv_done_flag));
    // defparam tx_ready_vname.orig_name = tx_ready;
	// ../../rtl/uart_loop.v:36


endmodule


module uart_recv
(
    input N2,
    input sys_clk,
    input uart_rxd,
    output [7:0] uart_data,
    output uart_done
);
    wire N22;
    wire N88;
    wire N100;
    wire [15:0] N140;
    wire N145;
    wire [7:0] N156;
    wire _N7;
    wire _N70;
    wire _N71;
    wire _N72;
    wire _N73;
    wire _N74;
    wire _N75;
    wire _N76;
    wire _N77;
    wire _N89;
    wire _N153;
    wire _N193;
    wire _N292;
    wire _N1059;
    wire _N1060;
    wire _N1065;
    wire _N1066;
    wire _N1067;
    wire _N1068;
    wire _N1071;
    wire _N1120;
    wire _N1121;
    wire _N1122;
    wire _N1123;
    wire _N1124;
    wire _N1125;
    wire _N1126;
    wire _N1127;
    wire _N1128;
    wire _N1140;
    wire _N1144;
    wire _N1146;
    wire _N1151;
    wire [15:0] clk_cnt;
    wire [3:0] rx_cnt;
    wire rx_flag;
    wire [7:0] rxdata;
    wire uart_rxd_d0;
    wire uart_rxd_d1;

    GTP_LUT4 /* N22_mux3 */ #(
            .INIT(16'b0000000000000001))
        N22_mux3 (
            .Z (_N7),
            .I0 (clk_cnt[0]),
            .I1 (clk_cnt[2]),
            .I2 (clk_cnt[1]),
            .I3 (clk_cnt[3]));
	// LUT = ~I0&~I1&~I2&~I3 ;

    GTP_LUT2 /* N22_mux8_2 */ #(
            .INIT(4'b0111))
        N22_mux8_2 (
            .Z (_N1140),
            .I0 (clk_cnt[7]),
            .I1 (clk_cnt[8]));
	// LUT = (~I1)|(~I0) ;

    GTP_LUT5 /* N22_mux8_3 */ #(
            .INIT(32'b10111011101110111010101110111011))
        N22_mux8_3 (
            .Z (N22),
            .I0 (_N1140),
            .I1 (clk_cnt[6]),
            .I2 (clk_cnt[4]),
            .I3 (clk_cnt[5]),
            .I4 (_N7));
	// LUT = (I0)|(~I1&~I3)|(~I1&~I2)|(~I1&I4) ;

    GTP_LUT5CARRY /* N25_1_0 */ #(
            .INIT(32'b11001100110011000000000000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("FALSE"), 
            .I4_TO_LUT("FALSE"))
        N25_1_0 (
            .COUT (_N70),
            .Z (),
            .CIN (),
            .I0 (),
            .I1 (clk_cnt[0]),
            .I2 (),
            .I3 (),
            .I4 (),
            .ID ());
	// LUT = I1 ;
	// CARRY = (1'b0) ? CIN : (I1) ;
	// ../../rtl/uart_recv.v:60

    GTP_LUT5CARRY /* N25_1_1 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N25_1_1 (
            .COUT (_N71),
            .Z (N140[1]),
            .CIN (_N70),
            .I0 (),
            .I1 (N22),
            .I2 (clk_cnt[1]),
            .I3 (rx_flag),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_recv.v:60

    GTP_LUT5CARRY /* N25_1_2 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N25_1_2 (
            .COUT (_N72),
            .Z (N140[2]),
            .CIN (_N71),
            .I0 (),
            .I1 (N22),
            .I2 (clk_cnt[2]),
            .I3 (rx_flag),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_recv.v:60

    GTP_LUT5CARRY /* N25_1_3 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N25_1_3 (
            .COUT (_N73),
            .Z (N140[3]),
            .CIN (_N72),
            .I0 (),
            .I1 (N22),
            .I2 (clk_cnt[3]),
            .I3 (rx_flag),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_recv.v:60

    GTP_LUT5CARRY /* N25_1_4 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N25_1_4 (
            .COUT (_N74),
            .Z (N140[4]),
            .CIN (_N73),
            .I0 (),
            .I1 (N22),
            .I2 (clk_cnt[4]),
            .I3 (rx_flag),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_recv.v:60

    GTP_LUT5CARRY /* N25_1_5 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N25_1_5 (
            .COUT (_N75),
            .Z (N140[5]),
            .CIN (_N74),
            .I0 (),
            .I1 (N22),
            .I2 (clk_cnt[5]),
            .I3 (rx_flag),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_recv.v:60

    GTP_LUT5CARRY /* N25_1_6 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N25_1_6 (
            .COUT (_N76),
            .Z (N140[6]),
            .CIN (_N75),
            .I0 (),
            .I1 (N22),
            .I2 (clk_cnt[6]),
            .I3 (rx_flag),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_recv.v:60

    GTP_LUT5CARRY /* N25_1_7 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N25_1_7 (
            .COUT (_N77),
            .Z (N140[7]),
            .CIN (_N76),
            .I0 (),
            .I1 (N22),
            .I2 (clk_cnt[7]),
            .I3 (rx_flag),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_recv.v:60

    GTP_LUT5CARRY /* N25_1_8 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N25_1_8 (
            .COUT (),
            .Z (N140[8]),
            .CIN (_N77),
            .I0 (),
            .I1 (N22),
            .I2 (clk_cnt[8]),
            .I3 (rx_flag),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_recv.v:60

    GTP_LUT4 /* N88 */ #(
            .INIT(16'b0001000000000000))
        N88_vname (
            .Z (N88),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]),
            .I3 (rx_cnt[0]));
    // defparam N88_vname.orig_name = N88;
	// LUT = ~I0&~I1&I2&I3 ;
	// ../../rtl/uart_recv.v:47

    GTP_LUT3 /* N100_3 */ #(
            .INIT(8'b00000001))
        N100_3 (
            .Z (_N1071),
            .I0 (clk_cnt[2]),
            .I1 (clk_cnt[1]),
            .I2 (clk_cnt[3]));
	// LUT = ~I0&~I1&~I2 ;

    GTP_LUT5 /* N100_12 */ #(
            .INIT(32'b00000000000000001000000000000000))
        N100_12 (
            .Z (_N1144),
            .I0 (clk_cnt[7]),
            .I1 (clk_cnt[6]),
            .I2 (clk_cnt[0]),
            .I3 (clk_cnt[4]),
            .I4 (clk_cnt[8]));
	// LUT = I0&I1&I2&I3&~I4 ;

    GTP_LUT5 /* N100_13 */ #(
            .INIT(32'b00000000000001000000000000000000))
        N100_13 (
            .Z (N100),
            .I0 (clk_cnt[5]),
            .I1 (clk_cnt[3]),
            .I2 (clk_cnt[1]),
            .I3 (clk_cnt[2]),
            .I4 (_N1144));
	// LUT = ~I0&I1&~I2&~I3&I4 ;

    GTP_LUT3 /* \N140[0]_1  */ #(
            .INIT(8'b00100000))
        \N140[0]_1  (
            .Z (N140[0]),
            .I0 (rx_flag),
            .I1 (clk_cnt[0]),
            .I2 (N22));
	// LUT = I0&~I1&I2 ;
	// ../../rtl/uart_recv.v:55

    GTP_LUT4 /* N143_4 */ #(
            .INIT(16'b1000000000000000))
        N143_4 (
            .Z (_N1151),
            .I0 (clk_cnt[7]),
            .I1 (clk_cnt[4]),
            .I2 (clk_cnt[0]),
            .I3 (_N1071));
	// LUT = I0&I1&I2&I3 ;

    GTP_LUT5 /* N145 */ #(
            .INIT(32'b01010101110101010101010101010101))
        N145_vname (
            .Z (N145),
            .I0 (rx_flag),
            .I1 (clk_cnt[8]),
            .I2 (clk_cnt[5]),
            .I3 (clk_cnt[6]),
            .I4 (_N1151));
    // defparam N145_vname.orig_name = N145;
	// LUT = (~I0)|(I1&I2&~I3&I4) ;
	// ../../rtl/uart_recv.v:69

    GTP_LUT5 /* \N156[0]_1  */ #(
            .INIT(32'b00010000000000000000000000000000))
        \N156[0]_1  (
            .Z (N156[0]),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]),
            .I3 (rxdata[0]),
            .I4 (rx_cnt[0]));
	// LUT = ~I0&~I1&I2&I3&I4 ;
	// ../../rtl/uart_recv.v:108

    GTP_LUT5 /* \N156[1]_1  */ #(
            .INIT(32'b00010000000000000000000000000000))
        \N156[1]_1  (
            .Z (N156[1]),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]),
            .I3 (rxdata[1]),
            .I4 (rx_cnt[0]));
	// LUT = ~I0&~I1&I2&I3&I4 ;
	// ../../rtl/uart_recv.v:108

    GTP_LUT5 /* \N156[2]_1  */ #(
            .INIT(32'b00010000000000000000000000000000))
        \N156[2]_1  (
            .Z (N156[2]),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]),
            .I3 (rxdata[2]),
            .I4 (rx_cnt[0]));
	// LUT = ~I0&~I1&I2&I3&I4 ;
	// ../../rtl/uart_recv.v:108

    GTP_LUT5 /* \N156[3]_1  */ #(
            .INIT(32'b00010000000000000000000000000000))
        \N156[3]_1  (
            .Z (N156[3]),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]),
            .I3 (rxdata[3]),
            .I4 (rx_cnt[0]));
	// LUT = ~I0&~I1&I2&I3&I4 ;
	// ../../rtl/uart_recv.v:108

    GTP_LUT5 /* \N156[4]_1  */ #(
            .INIT(32'b00010000000000000000000000000000))
        \N156[4]_1  (
            .Z (N156[4]),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]),
            .I3 (rxdata[4]),
            .I4 (rx_cnt[0]));
	// LUT = ~I0&~I1&I2&I3&I4 ;
	// ../../rtl/uart_recv.v:108

    GTP_LUT5 /* \N156[5]_1  */ #(
            .INIT(32'b00010000000000000000000000000000))
        \N156[5]_1  (
            .Z (N156[5]),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]),
            .I3 (rxdata[5]),
            .I4 (rx_cnt[0]));
	// LUT = ~I0&~I1&I2&I3&I4 ;
	// ../../rtl/uart_recv.v:108

    GTP_LUT5 /* \N156[6]_1  */ #(
            .INIT(32'b00010000000000000000000000000000))
        \N156[6]_1  (
            .Z (N156[6]),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]),
            .I3 (rxdata[6]),
            .I4 (rx_cnt[0]));
	// LUT = ~I0&~I1&I2&I3&I4 ;
	// ../../rtl/uart_recv.v:108

    GTP_LUT5 /* \N156[7]_1  */ #(
            .INIT(32'b00010000000000000000000000000000))
        \N156[7]_1  (
            .Z (N156[7]),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]),
            .I3 (rxdata[7]),
            .I4 (rx_cnt[0]));
	// LUT = ~I0&~I1&I2&I3&I4 ;
	// ../../rtl/uart_recv.v:108

    GTP_LUT3 /* N159_1 */ #(
            .INIT(8'b00100000))
        N159_1 (
            .Z (_N1059),
            .I0 (rx_cnt[1]),
            .I1 (rx_cnt[3]),
            .I2 (N100));
	// LUT = I0&~I1&I2 ;

    GTP_LUT3 /* N159_2 */ #(
            .INIT(8'b00010000))
        N159_2 (
            .Z (_N1060),
            .I0 (rx_cnt[1]),
            .I1 (rx_cnt[3]),
            .I2 (N100));
	// LUT = ~I0&~I1&I2 ;

    GTP_LUT4 /* N159_5 */ #(
            .INIT(16'b0000000000010000))
        N159_5 (
            .Z (_N1146),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[1]),
            .I2 (rx_cnt[3]),
            .I3 (rx_cnt[0]));
	// LUT = ~I0&~I1&I2&~I3 ;

    GTP_LUT2 /* N167_1 */ #(
            .INIT(4'b0100))
        N167_1 (
            .Z (_N1065),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[0]));
	// LUT = ~I0&I1 ;

    GTP_LUT2 /* N167_2 */ #(
            .INIT(4'b0001))
        N167_2 (
            .Z (_N1066),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[0]));
	// LUT = ~I0&~I1 ;

    GTP_LUT2 /* N167_3 */ #(
            .INIT(4'b1000))
        N167_3 (
            .Z (_N1067),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[0]));
	// LUT = I0&I1 ;

    GTP_LUT2 /* N167_4 */ #(
            .INIT(4'b0010))
        N167_4 (
            .Z (_N1068),
            .I0 (rx_cnt[2]),
            .I1 (rx_cnt[0]));
	// LUT = I0&~I1 ;

    GTP_DFF_C /* \clk_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[0]  (
            .Q (clk_cnt[0]),
            .C (N2),
            .CLK (sys_clk),
            .D (N140[0]));
	// ../../rtl/uart_recv.v:55

    GTP_DFF_C /* \clk_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[1]  (
            .Q (clk_cnt[1]),
            .C (N2),
            .CLK (sys_clk),
            .D (N140[1]));
	// ../../rtl/uart_recv.v:55

    GTP_DFF_C /* \clk_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[2]  (
            .Q (clk_cnt[2]),
            .C (N2),
            .CLK (sys_clk),
            .D (N140[2]));
	// ../../rtl/uart_recv.v:55

    GTP_DFF_C /* \clk_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[3]  (
            .Q (clk_cnt[3]),
            .C (N2),
            .CLK (sys_clk),
            .D (N140[3]));
	// ../../rtl/uart_recv.v:55

    GTP_DFF_C /* \clk_cnt[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[4]  (
            .Q (clk_cnt[4]),
            .C (N2),
            .CLK (sys_clk),
            .D (N140[4]));
	// ../../rtl/uart_recv.v:55

    GTP_DFF_C /* \clk_cnt[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[5]  (
            .Q (clk_cnt[5]),
            .C (N2),
            .CLK (sys_clk),
            .D (N140[5]));
	// ../../rtl/uart_recv.v:55

    GTP_DFF_C /* \clk_cnt[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[6]  (
            .Q (clk_cnt[6]),
            .C (N2),
            .CLK (sys_clk),
            .D (N140[6]));
	// ../../rtl/uart_recv.v:55

    GTP_DFF_C /* \clk_cnt[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[7]  (
            .Q (clk_cnt[7]),
            .C (N2),
            .CLK (sys_clk),
            .D (N140[7]));
	// ../../rtl/uart_recv.v:55

    GTP_DFF_C /* \clk_cnt[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[8]  (
            .Q (clk_cnt[8]),
            .C (N2),
            .CLK (sys_clk),
            .D (N140[8]));
	// ../../rtl/uart_recv.v:55

    GTP_DFF_CE /* \rx_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_cnt[0]  (
            .Q (rx_cnt[0]),
            .C (N2),
            .CE (N145),
            .CLK (sys_clk),
            .D (_N89));
	// ../../rtl/uart_recv.v:69

    GTP_DFF_CE /* \rx_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_cnt[1]  (
            .Q (rx_cnt[1]),
            .C (N2),
            .CE (N145),
            .CLK (sys_clk),
            .D (_N153));
	// ../../rtl/uart_recv.v:69

    GTP_DFF_CE /* \rx_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_cnt[2]  (
            .Q (rx_cnt[2]),
            .C (N2),
            .CE (N145),
            .CLK (sys_clk),
            .D (_N193));
	// ../../rtl/uart_recv.v:69

    GTP_LUT2 /* \rx_cnt[3:0]_1  */ #(
            .INIT(4'b0100))
        \rx_cnt[3:0]_1  (
            .Z (_N89),
            .I0 (rx_cnt[0]),
            .I1 (rx_flag));
	// LUT = ~I0&I1 ;

    GTP_LUT3 /* \rx_cnt[3:0]_23  */ #(
            .INIT(8'b01100000))
        \rx_cnt[3:0]_23  (
            .Z (_N153),
            .I0 (rx_cnt[0]),
            .I1 (rx_cnt[1]),
            .I2 (rx_flag));
	// LUT = (I0&~I1&I2)|(~I0&I1&I2) ;

    GTP_LUT4 /* \rx_cnt[3:0]_32  */ #(
            .INIT(16'b0110110000000000))
        \rx_cnt[3:0]_32  (
            .Z (_N193),
            .I0 (rx_cnt[0]),
            .I1 (rx_cnt[2]),
            .I2 (rx_cnt[1]),
            .I3 (rx_flag));
	// LUT = (I1&~I2&I3)|(~I0&I1&I3)|(I0&~I1&I2&I3) ;

    GTP_LUT5 /* \rx_cnt[3:0]_56  */ #(
            .INIT(32'b01111000111100000000000000000000))
        \rx_cnt[3:0]_56  (
            .Z (_N292),
            .I0 (rx_cnt[0]),
            .I1 (rx_cnt[2]),
            .I2 (rx_cnt[3]),
            .I3 (rx_cnt[1]),
            .I4 (rx_flag));
	// LUT = (I2&~I3&I4)|(~I1&I2&I4)|(~I0&I2&I4)|(I0&I1&~I2&I3&I4) ;

    GTP_DFF_CE /* \rx_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_cnt[3]  (
            .Q (rx_cnt[3]),
            .C (N2),
            .CE (N145),
            .CLK (sys_clk),
            .D (_N292));
	// ../../rtl/uart_recv.v:69

    GTP_DFF_C /* rx_flag */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        rx_flag_vname (
            .Q (rx_flag),
            .C (N2),
            .CLK (sys_clk),
            .D (_N1120));
    // defparam rx_flag_vname.orig_name = rx_flag;
	// ../../rtl/uart_recv.v:41

    GTP_LUT5 /* rx_flag_ce_mux */ #(
            .INIT(32'b01001111010001001100111111001100))
        rx_flag_ce_mux (
            .Z (_N1120),
            .I0 (N88),
            .I1 (rx_flag),
            .I2 (uart_rxd_d0),
            .I3 (uart_rxd_d1),
            .I4 (N100));
	// LUT = (I1&~I4)|(~I2&I3)|(~I0&I1) ;

    GTP_DFF_C /* \rxdata[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rxdata[0]  (
            .Q (rxdata[0]),
            .C (N2),
            .CLK (sys_clk),
            .D (_N1121));
	// ../../rtl/uart_recv.v:83

    GTP_DFF_C /* \rxdata[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rxdata[1]  (
            .Q (rxdata[1]),
            .C (N2),
            .CLK (sys_clk),
            .D (_N1128));
	// ../../rtl/uart_recv.v:83

    GTP_DFF_C /* \rxdata[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rxdata[2]  (
            .Q (rxdata[2]),
            .C (N2),
            .CLK (sys_clk),
            .D (_N1127));
	// ../../rtl/uart_recv.v:83

    GTP_DFF_C /* \rxdata[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rxdata[3]  (
            .Q (rxdata[3]),
            .C (N2),
            .CLK (sys_clk),
            .D (_N1126));
	// ../../rtl/uart_recv.v:83

    GTP_DFF_C /* \rxdata[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rxdata[4]  (
            .Q (rxdata[4]),
            .C (N2),
            .CLK (sys_clk),
            .D (_N1125));
	// ../../rtl/uart_recv.v:83

    GTP_DFF_C /* \rxdata[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rxdata[5]  (
            .Q (rxdata[5]),
            .C (N2),
            .CLK (sys_clk),
            .D (_N1124));
	// ../../rtl/uart_recv.v:83

    GTP_DFF_C /* \rxdata[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rxdata[6]  (
            .Q (rxdata[6]),
            .C (N2),
            .CLK (sys_clk),
            .D (_N1123));
	// ../../rtl/uart_recv.v:83

    GTP_DFF_C /* \rxdata[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rxdata[7]  (
            .Q (rxdata[7]),
            .C (N2),
            .CLK (sys_clk),
            .D (_N1122));
	// ../../rtl/uart_recv.v:83

    GTP_LUT5 /* \rxdata_ce_mux[0]  */ #(
            .INIT(32'b11000100100000001100110000000000))
        \rxdata_ce_mux[0]  (
            .Z (_N1121),
            .I0 (_N1065),
            .I1 (rx_flag),
            .I2 (uart_rxd_d1),
            .I3 (rxdata[0]),
            .I4 (_N1060));
	// LUT = (I1&I3&~I4)|(~I0&I1&I3)|(I0&I1&I2&I4) ;

    GTP_LUT5 /* \rxdata_ce_mux[1]  */ #(
            .INIT(32'b11000100100000001100110000000000))
        \rxdata_ce_mux[1]  (
            .Z (_N1128),
            .I0 (_N1066),
            .I1 (rx_flag),
            .I2 (uart_rxd_d1),
            .I3 (rxdata[1]),
            .I4 (_N1059));
	// LUT = (I1&I3&~I4)|(~I0&I1&I3)|(I0&I1&I2&I4) ;

    GTP_LUT5 /* \rxdata_ce_mux[2]  */ #(
            .INIT(32'b11000100100000001100110000000000))
        \rxdata_ce_mux[2]  (
            .Z (_N1127),
            .I0 (_N1065),
            .I1 (rx_flag),
            .I2 (uart_rxd_d1),
            .I3 (rxdata[2]),
            .I4 (_N1059));
	// LUT = (I1&I3&~I4)|(~I0&I1&I3)|(I0&I1&I2&I4) ;

    GTP_LUT5 /* \rxdata_ce_mux[3]  */ #(
            .INIT(32'b11000100100000001100110000000000))
        \rxdata_ce_mux[3]  (
            .Z (_N1126),
            .I0 (_N1068),
            .I1 (rx_flag),
            .I2 (uart_rxd_d1),
            .I3 (rxdata[3]),
            .I4 (_N1060));
	// LUT = (I1&I3&~I4)|(~I0&I1&I3)|(I0&I1&I2&I4) ;

    GTP_LUT5 /* \rxdata_ce_mux[4]  */ #(
            .INIT(32'b11000100100000001100110000000000))
        \rxdata_ce_mux[4]  (
            .Z (_N1125),
            .I0 (_N1067),
            .I1 (rx_flag),
            .I2 (uart_rxd_d1),
            .I3 (rxdata[4]),
            .I4 (_N1060));
	// LUT = (I1&I3&~I4)|(~I0&I1&I3)|(I0&I1&I2&I4) ;

    GTP_LUT5 /* \rxdata_ce_mux[5]  */ #(
            .INIT(32'b11000100100000001100110000000000))
        \rxdata_ce_mux[5]  (
            .Z (_N1124),
            .I0 (_N1068),
            .I1 (rx_flag),
            .I2 (uart_rxd_d1),
            .I3 (rxdata[5]),
            .I4 (_N1059));
	// LUT = (I1&I3&~I4)|(~I0&I1&I3)|(I0&I1&I2&I4) ;

    GTP_LUT5 /* \rxdata_ce_mux[6]  */ #(
            .INIT(32'b11000100100000001100110000000000))
        \rxdata_ce_mux[6]  (
            .Z (_N1123),
            .I0 (_N1067),
            .I1 (rx_flag),
            .I2 (uart_rxd_d1),
            .I3 (rxdata[6]),
            .I4 (_N1059));
	// LUT = (I1&I3&~I4)|(~I0&I1&I3)|(I0&I1&I2&I4) ;

    GTP_LUT5 /* \rxdata_ce_mux[7]  */ #(
            .INIT(32'b11000100100000001100110000000000))
        \rxdata_ce_mux[7]  (
            .Z (_N1122),
            .I0 (_N1146),
            .I1 (rx_flag),
            .I2 (uart_rxd_d1),
            .I3 (rxdata[7]),
            .I4 (N100));
	// LUT = (I1&I3&~I4)|(~I0&I1&I3)|(I0&I1&I2&I4) ;

    GTP_DFF_C /* \uart_data[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_data[0]  (
            .Q (uart_data[0]),
            .C (N2),
            .CLK (sys_clk),
            .D (N156[0]));
	// ../../rtl/uart_recv.v:108

    GTP_DFF_C /* \uart_data[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_data[1]  (
            .Q (uart_data[1]),
            .C (N2),
            .CLK (sys_clk),
            .D (N156[1]));
	// ../../rtl/uart_recv.v:108

    GTP_DFF_C /* \uart_data[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_data[2]  (
            .Q (uart_data[2]),
            .C (N2),
            .CLK (sys_clk),
            .D (N156[2]));
	// ../../rtl/uart_recv.v:108

    GTP_DFF_C /* \uart_data[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_data[3]  (
            .Q (uart_data[3]),
            .C (N2),
            .CLK (sys_clk),
            .D (N156[3]));
	// ../../rtl/uart_recv.v:108

    GTP_DFF_C /* \uart_data[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_data[4]  (
            .Q (uart_data[4]),
            .C (N2),
            .CLK (sys_clk),
            .D (N156[4]));
	// ../../rtl/uart_recv.v:108

    GTP_DFF_C /* \uart_data[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_data[5]  (
            .Q (uart_data[5]),
            .C (N2),
            .CLK (sys_clk),
            .D (N156[5]));
	// ../../rtl/uart_recv.v:108

    GTP_DFF_C /* \uart_data[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_data[6]  (
            .Q (uart_data[6]),
            .C (N2),
            .CLK (sys_clk),
            .D (N156[6]));
	// ../../rtl/uart_recv.v:108

    GTP_DFF_C /* \uart_data[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \uart_data[7]  (
            .Q (uart_data[7]),
            .C (N2),
            .CLK (sys_clk),
            .D (N156[7]));
	// ../../rtl/uart_recv.v:108

    GTP_DFF_C /* uart_done */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        uart_done_vname (
            .Q (uart_done),
            .C (N2),
            .CLK (sys_clk),
            .D (N88));
    // defparam uart_done_vname.orig_name = uart_done;
	// ../../rtl/uart_recv.v:108

    GTP_DFF_C /* uart_rxd_d0 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        uart_rxd_d0_vname (
            .Q (uart_rxd_d0),
            .C (N2),
            .CLK (sys_clk),
            .D (uart_rxd));
    // defparam uart_rxd_d0_vname.orig_name = uart_rxd_d0;
	// ../../rtl/uart_recv.v:29

    GTP_DFF_C /* uart_rxd_d1 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        uart_rxd_d1_vname (
            .Q (uart_rxd_d1),
            .C (N2),
            .CLK (sys_clk),
            .D (uart_rxd_d0));
    // defparam uart_rxd_d1_vname.orig_name = uart_rxd_d1;
	// ../../rtl/uart_recv.v:29


endmodule


module uart_send
(
    input [7:0] uart_din,
    input N2,
    input sys_clk,
    input uart_en,
    output uart_tx_busy,
    output uart_txd
);
    wire N27;
    wire N104;
    wire [7:0] N107;
    wire [15:0] N111;
    wire N116;
    wire N121;
    wire N124;
    wire N125;
    wire _N43;
    wire _N60;
    wire _N61;
    wire _N62;
    wire _N63;
    wire _N64;
    wire _N65;
    wire _N66;
    wire _N67;
    wire _N82;
    wire _N86;
    wire _N87;
    wire _N722;
    wire _N772;
    wire _N810;
    wire _N905;
    wire _N1074;
    wire _N1075;
    wire _N1137;
    wire _N1138;
    wire [15:0] clk_cnt;
    wire en_flag;
    wire [3:0] tx_cnt;
    wire [7:0] tx_data;
    wire uart_en_d0;
    wire uart_en_d1;

    GTP_LUT2 /* N1 */ #(
            .INIT(4'b0100))
        N1 (
            .Z (en_flag),
            .I0 (uart_en_d1),
            .I1 (uart_en_d0));
	// LUT = ~I0&I1 ;
	// ../../rtl/uart_send.v:29

    GTP_LUT3 /* N12_5 */ #(
            .INIT(8'b00000001))
        N12_5 (
            .Z (_N1074),
            .I0 (clk_cnt[1]),
            .I1 (clk_cnt[3]),
            .I2 (clk_cnt[2]));
	// LUT = ~I0&~I1&~I2 ;

    GTP_LUT4 /* N12_12 */ #(
            .INIT(16'b0000000000000100))
        N12_12 (
            .Z (_N1137),
            .I0 (tx_cnt[2]),
            .I1 (clk_cnt[1]),
            .I2 (clk_cnt[3]),
            .I3 (tx_cnt[1]));
	// LUT = ~I0&I1&~I2&~I3 ;

    GTP_LUT4 /* N12_13 */ #(
            .INIT(16'b0010000000000000))
        N12_13 (
            .Z (_N1138),
            .I0 (tx_cnt[3]),
            .I1 (clk_cnt[5]),
            .I2 (clk_cnt[2]),
            .I3 (tx_cnt[0]));
	// LUT = I0&~I1&I2&I3 ;

    GTP_LUT5 /* N27_mux6 */ #(
            .INIT(32'b00000111000011110000011100000111))
        N27_mux6 (
            .Z (_N43),
            .I0 (clk_cnt[5]),
            .I1 (clk_cnt[4]),
            .I2 (clk_cnt[6]),
            .I3 (clk_cnt[0]),
            .I4 (_N1074));
	// LUT = (~I1&~I2)|(~I0&~I2)|(~I2&~I3&I4) ;

    GTP_LUT3 /* N27_mux8_3 */ #(
            .INIT(8'b11110111))
        N27_mux8_3 (
            .Z (N27),
            .I0 (clk_cnt[8]),
            .I1 (clk_cnt[7]),
            .I2 (_N43));
	// LUT = (~I1)|(~I0)|(I2) ;

    GTP_LUT5CARRY /* N30_1_0 */ #(
            .INIT(32'b11001100110011000000000000000000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("FALSE"), 
            .I4_TO_CARRY("FALSE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_0 (
            .COUT (_N60),
            .Z (),
            .CIN (),
            .I0 (),
            .I1 (clk_cnt[0]),
            .I2 (),
            .I3 (),
            .I4 (),
            .ID ());
	// LUT = I1 ;
	// CARRY = (1'b0) ? CIN : (I1) ;
	// ../../rtl/uart_send.v:69

    GTP_LUT5CARRY /* N30_1_1 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_1 (
            .COUT (_N61),
            .Z (N111[1]),
            .CIN (_N60),
            .I0 (),
            .I1 (uart_tx_busy),
            .I2 (clk_cnt[1]),
            .I3 (N27),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_send.v:69

    GTP_LUT5CARRY /* N30_1_2 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_2 (
            .COUT (_N62),
            .Z (N111[2]),
            .CIN (_N61),
            .I0 (),
            .I1 (uart_tx_busy),
            .I2 (clk_cnt[2]),
            .I3 (N27),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_send.v:69

    GTP_LUT5CARRY /* N30_1_3 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_3 (
            .COUT (_N63),
            .Z (N111[3]),
            .CIN (_N62),
            .I0 (),
            .I1 (uart_tx_busy),
            .I2 (clk_cnt[3]),
            .I3 (N27),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_send.v:69

    GTP_LUT5CARRY /* N30_1_4 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_4 (
            .COUT (_N64),
            .Z (N111[4]),
            .CIN (_N63),
            .I0 (),
            .I1 (uart_tx_busy),
            .I2 (clk_cnt[4]),
            .I3 (N27),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_send.v:69

    GTP_LUT5CARRY /* N30_1_5 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_5 (
            .COUT (_N65),
            .Z (N111[5]),
            .CIN (_N64),
            .I0 (),
            .I1 (uart_tx_busy),
            .I2 (clk_cnt[5]),
            .I3 (N27),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_send.v:69

    GTP_LUT5CARRY /* N30_1_6 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_6 (
            .COUT (_N66),
            .Z (N111[6]),
            .CIN (_N65),
            .I0 (),
            .I1 (uart_tx_busy),
            .I2 (clk_cnt[6]),
            .I3 (N27),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_send.v:69

    GTP_LUT5CARRY /* N30_1_7 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_7 (
            .COUT (_N67),
            .Z (N111[7]),
            .CIN (_N66),
            .I0 (),
            .I1 (uart_tx_busy),
            .I2 (clk_cnt[7]),
            .I3 (N27),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_send.v:69

    GTP_LUT5CARRY /* N30_1_8 */ #(
            .INIT(32'b01001000000000001111000011110000), 
            .ID_TO_LUT("FALSE"), 
            .CIN_TO_LUT("TRUE"), 
            .I4_TO_CARRY("TRUE"), 
            .I4_TO_LUT("FALSE"))
        N30_1_8 (
            .COUT (),
            .Z (N111[8]),
            .CIN (_N67),
            .I0 (),
            .I1 (uart_tx_busy),
            .I2 (clk_cnt[8]),
            .I3 (N27),
            .I4 (1'b0),
            .ID ());
	// LUT = (CIN&I1&~I2&I3)|(~CIN&I1&I2&I3) ;
	// CARRY = (I2) ? CIN : (I4) ;
	// ../../rtl/uart_send.v:69

    GTP_LUT5 /* N104 */ #(
            .INIT(32'b10001111100010000000111100000000))
        N104_vname (
            .Z (N104),
            .I0 (_N1075),
            .I1 (_N1137),
            .I2 (uart_en_d1),
            .I3 (uart_en_d0),
            .I4 (_N1138));
    // defparam N104_vname.orig_name = N104;
	// LUT = (~I2&I3)|(I0&I1&I4) ;
	// ../../rtl/uart_send.v:44

    GTP_LUT3 /* \N107[0]  */ #(
            .INIT(8'b01000000))
        \N107[0]  (
            .Z (N107[0]),
            .I0 (uart_en_d1),
            .I1 (uart_din[0]),
            .I2 (uart_en_d0));
	// LUT = ~I0&I1&I2 ;
	// ../../rtl/uart_send.v:44

    GTP_LUT3 /* \N107[1]  */ #(
            .INIT(8'b01000000))
        \N107[1]  (
            .Z (N107[1]),
            .I0 (uart_en_d1),
            .I1 (uart_din[1]),
            .I2 (uart_en_d0));
	// LUT = ~I0&I1&I2 ;
	// ../../rtl/uart_send.v:44

    GTP_LUT3 /* \N107[2]  */ #(
            .INIT(8'b01000000))
        \N107[2]  (
            .Z (N107[2]),
            .I0 (uart_en_d1),
            .I1 (uart_din[2]),
            .I2 (uart_en_d0));
	// LUT = ~I0&I1&I2 ;
	// ../../rtl/uart_send.v:44

    GTP_LUT3 /* \N107[3]  */ #(
            .INIT(8'b01000000))
        \N107[3]  (
            .Z (N107[3]),
            .I0 (uart_en_d1),
            .I1 (uart_din[3]),
            .I2 (uart_en_d0));
	// LUT = ~I0&I1&I2 ;
	// ../../rtl/uart_send.v:44

    GTP_LUT3 /* \N107[4]  */ #(
            .INIT(8'b01000000))
        \N107[4]  (
            .Z (N107[4]),
            .I0 (uart_en_d1),
            .I1 (uart_din[4]),
            .I2 (uart_en_d0));
	// LUT = ~I0&I1&I2 ;
	// ../../rtl/uart_send.v:44

    GTP_LUT3 /* \N107[5]  */ #(
            .INIT(8'b01000000))
        \N107[5]  (
            .Z (N107[5]),
            .I0 (uart_en_d1),
            .I1 (uart_din[5]),
            .I2 (uart_en_d0));
	// LUT = ~I0&I1&I2 ;
	// ../../rtl/uart_send.v:44

    GTP_LUT3 /* \N107[6]  */ #(
            .INIT(8'b01000000))
        \N107[6]  (
            .Z (N107[6]),
            .I0 (uart_en_d1),
            .I1 (uart_din[6]),
            .I2 (uart_en_d0));
	// LUT = ~I0&I1&I2 ;
	// ../../rtl/uart_send.v:44

    GTP_LUT3 /* \N107[7]  */ #(
            .INIT(8'b01000000))
        \N107[7]  (
            .Z (N107[7]),
            .I0 (uart_en_d1),
            .I1 (uart_din[7]),
            .I2 (uart_en_d0));
	// LUT = ~I0&I1&I2 ;
	// ../../rtl/uart_send.v:44

    GTP_LUT3 /* \N111[0]_1  */ #(
            .INIT(8'b00100000))
        \N111[0]_1  (
            .Z (N111[0]),
            .I0 (uart_tx_busy),
            .I1 (clk_cnt[0]),
            .I2 (N27));
	// LUT = I0&~I1&I2 ;
	// ../../rtl/uart_send.v:64

    GTP_LUT5 /* N114_7 */ #(
            .INIT(32'b00001000000000000000000000000000))
        N114_7 (
            .Z (_N1075),
            .I0 (clk_cnt[7]),
            .I1 (clk_cnt[4]),
            .I2 (clk_cnt[6]),
            .I3 (clk_cnt[0]),
            .I4 (clk_cnt[8]));
	// LUT = I0&I1&~I2&I3&I4 ;

    GTP_LUT4 /* N116 */ #(
            .INIT(16'b1011001100110011))
        N116_vname (
            .Z (N116),
            .I0 (_N1074),
            .I1 (uart_tx_busy),
            .I2 (clk_cnt[5]),
            .I3 (_N1075));
    // defparam N116_vname.orig_name = N116;
	// LUT = (~I1)|(I0&I2&I3) ;
	// ../../rtl/uart_send.v:78

    GTP_LUT5M /* N121_3 */ #(
            .INIT(32'b11100010111000101110111000100010))
        N121_3 (
            .Z (_N82),
            .I0 (tx_data[4]),
            .I1 (tx_cnt[1]),
            .I2 (tx_data[6]),
            .I3 (tx_data[5]),
            .I4 (tx_cnt[0]),
            .ID (tx_data[3]));
	// LUT = (I1&I3&~I4)|(ID&~I1&~I4)|(I1&I2&I4)|(I0&~I1&I4) ;

    GTP_LUT5 /* N121_7 */ #(
            .INIT(32'b11011000110110001010101000000000))
        N121_7 (
            .Z (_N86),
            .I0 (tx_cnt[1]),
            .I1 (tx_data[2]),
            .I2 (tx_data[0]),
            .I3 (tx_data[1]),
            .I4 (tx_cnt[0]));
	// LUT = (I0&I3&~I4)|(~I0&I2&I4)|(I0&I1&I4) ;

    GTP_LUT4 /* N121_8 */ #(
            .INIT(16'b1111101111001000))
        N121_8 (
            .Z (_N87),
            .I0 (tx_cnt[0]),
            .I1 (tx_cnt[3]),
            .I2 (tx_data[7]),
            .I3 (_N86));
	// LUT = (~I1&I3)|(I0&I1)|(I1&I2) ;

    GTP_MUX2LUT6 N121_9 (
            .Z (N121),
            .I0 (_N87),
            .I1 (_N82),
            .S (tx_cnt[2]));

    GTP_LUT4 /* N124 */ #(
            .INIT(16'b0011011111111111))
        N124_vname (
            .Z (N124),
            .I0 (tx_cnt[1]),
            .I1 (tx_cnt[3]),
            .I2 (tx_cnt[2]),
            .I3 (uart_tx_busy));
    // defparam N124_vname.orig_name = N124;
	// LUT = (~I3)|(~I1)|(~I0&~I2) ;
	// ../../rtl/uart_send.v:92

    GTP_LUT5 /* N125 */ #(
            .INIT(32'b11111111111111111111110101010101))
        N125_vname (
            .Z (N125),
            .I0 (uart_tx_busy),
            .I1 (tx_cnt[1]),
            .I2 (tx_cnt[2]),
            .I3 (tx_cnt[3]),
            .I4 (N121));
    // defparam N125_vname.orig_name = N125;
	// LUT = (~I0)|(I4)|(I1&I3)|(I2&I3) ;
	// ../../rtl/uart_send.v:92

    GTP_DFF_C /* \clk_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[0]  (
            .Q (clk_cnt[0]),
            .C (N2),
            .CLK (sys_clk),
            .D (N111[0]));
	// ../../rtl/uart_send.v:64

    GTP_DFF_C /* \clk_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[1]  (
            .Q (clk_cnt[1]),
            .C (N2),
            .CLK (sys_clk),
            .D (N111[1]));
	// ../../rtl/uart_send.v:64

    GTP_DFF_C /* \clk_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[2]  (
            .Q (clk_cnt[2]),
            .C (N2),
            .CLK (sys_clk),
            .D (N111[2]));
	// ../../rtl/uart_send.v:64

    GTP_DFF_C /* \clk_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[3]  (
            .Q (clk_cnt[3]),
            .C (N2),
            .CLK (sys_clk),
            .D (N111[3]));
	// ../../rtl/uart_send.v:64

    GTP_DFF_C /* \clk_cnt[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[4]  (
            .Q (clk_cnt[4]),
            .C (N2),
            .CLK (sys_clk),
            .D (N111[4]));
	// ../../rtl/uart_send.v:64

    GTP_DFF_C /* \clk_cnt[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[5]  (
            .Q (clk_cnt[5]),
            .C (N2),
            .CLK (sys_clk),
            .D (N111[5]));
	// ../../rtl/uart_send.v:64

    GTP_DFF_C /* \clk_cnt[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[6]  (
            .Q (clk_cnt[6]),
            .C (N2),
            .CLK (sys_clk),
            .D (N111[6]));
	// ../../rtl/uart_send.v:64

    GTP_DFF_C /* \clk_cnt[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[7]  (
            .Q (clk_cnt[7]),
            .C (N2),
            .CLK (sys_clk),
            .D (N111[7]));
	// ../../rtl/uart_send.v:64

    GTP_DFF_C /* \clk_cnt[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \clk_cnt[8]  (
            .Q (clk_cnt[8]),
            .C (N2),
            .CLK (sys_clk),
            .D (N111[8]));
	// ../../rtl/uart_send.v:64

    GTP_DFF_CE /* \tx_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_cnt[0]  (
            .Q (tx_cnt[0]),
            .C (N2),
            .CE (N116),
            .CLK (sys_clk),
            .D (_N722));
	// ../../rtl/uart_send.v:78

    GTP_DFF_CE /* \tx_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_cnt[1]  (
            .Q (tx_cnt[1]),
            .C (N2),
            .CE (N116),
            .CLK (sys_clk),
            .D (_N772));
	// ../../rtl/uart_send.v:78

    GTP_DFF_CE /* \tx_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_cnt[2]  (
            .Q (tx_cnt[2]),
            .C (N2),
            .CE (N116),
            .CLK (sys_clk),
            .D (_N810));
	// ../../rtl/uart_send.v:78

    GTP_LUT2 /* \tx_cnt[3:0]_125  */ #(
            .INIT(4'b0100))
        \tx_cnt[3:0]_125  (
            .Z (_N722),
            .I0 (tx_cnt[0]),
            .I1 (uart_tx_busy));
	// LUT = ~I0&I1 ;

    GTP_LUT3 /* \tx_cnt[3:0]_134  */ #(
            .INIT(8'b01100000))
        \tx_cnt[3:0]_134  (
            .Z (_N772),
            .I0 (tx_cnt[0]),
            .I1 (tx_cnt[1]),
            .I2 (uart_tx_busy));
	// LUT = (I0&~I1&I2)|(~I0&I1&I2) ;

    GTP_LUT4 /* \tx_cnt[3:0]_141  */ #(
            .INIT(16'b0111100000000000))
        \tx_cnt[3:0]_141  (
            .Z (_N810),
            .I0 (tx_cnt[0]),
            .I1 (tx_cnt[1]),
            .I2 (tx_cnt[2]),
            .I3 (uart_tx_busy));
	// LUT = (~I1&I2&I3)|(~I0&I2&I3)|(I0&I1&~I2&I3) ;

    GTP_LUT5 /* \tx_cnt[3:0]_152  */ #(
            .INIT(32'b01111111100000000000000000000000))
        \tx_cnt[3:0]_152  (
            .Z (_N905),
            .I0 (tx_cnt[0]),
            .I1 (tx_cnt[1]),
            .I2 (tx_cnt[2]),
            .I3 (tx_cnt[3]),
            .I4 (uart_tx_busy));
	// LUT = (~I2&I3&I4)|(~I1&I3&I4)|(~I0&I3&I4)|(I0&I1&I2&~I3&I4) ;

    GTP_DFF_CE /* \tx_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_cnt[3]  (
            .Q (tx_cnt[3]),
            .C (N2),
            .CE (N116),
            .CLK (sys_clk),
            .D (_N905));
	// ../../rtl/uart_send.v:78

    GTP_DFF_CE /* \tx_data[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data[0]  (
            .Q (tx_data[0]),
            .C (N2),
            .CE (N104),
            .CLK (sys_clk),
            .D (N107[0]));
	// ../../rtl/uart_send.v:44

    GTP_DFF_CE /* \tx_data[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data[1]  (
            .Q (tx_data[1]),
            .C (N2),
            .CE (N104),
            .CLK (sys_clk),
            .D (N107[1]));
	// ../../rtl/uart_send.v:44

    GTP_DFF_CE /* \tx_data[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data[2]  (
            .Q (tx_data[2]),
            .C (N2),
            .CE (N104),
            .CLK (sys_clk),
            .D (N107[2]));
	// ../../rtl/uart_send.v:44

    GTP_DFF_CE /* \tx_data[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data[3]  (
            .Q (tx_data[3]),
            .C (N2),
            .CE (N104),
            .CLK (sys_clk),
            .D (N107[3]));
	// ../../rtl/uart_send.v:44

    GTP_DFF_CE /* \tx_data[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data[4]  (
            .Q (tx_data[4]),
            .C (N2),
            .CE (N104),
            .CLK (sys_clk),
            .D (N107[4]));
	// ../../rtl/uart_send.v:44

    GTP_DFF_CE /* \tx_data[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data[5]  (
            .Q (tx_data[5]),
            .C (N2),
            .CE (N104),
            .CLK (sys_clk),
            .D (N107[5]));
	// ../../rtl/uart_send.v:44

    GTP_DFF_CE /* \tx_data[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data[6]  (
            .Q (tx_data[6]),
            .C (N2),
            .CE (N104),
            .CLK (sys_clk),
            .D (N107[6]));
	// ../../rtl/uart_send.v:44

    GTP_DFF_CE /* \tx_data[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \tx_data[7]  (
            .Q (tx_data[7]),
            .C (N2),
            .CE (N104),
            .CLK (sys_clk),
            .D (N107[7]));
	// ../../rtl/uart_send.v:44

    GTP_DFF_CE /* tx_flag */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        tx_flag (
            .Q (uart_tx_busy),
            .C (N2),
            .CE (N104),
            .CLK (sys_clk),
            .D (en_flag));
	// ../../rtl/uart_send.v:44

    GTP_DFF_C /* uart_en_d0 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        uart_en_d0_vname (
            .Q (uart_en_d0),
            .C (N2),
            .CLK (sys_clk),
            .D (uart_en));
    // defparam uart_en_d0_vname.orig_name = uart_en_d0;
	// ../../rtl/uart_send.v:32

    GTP_DFF_C /* uart_en_d1 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        uart_en_d1_vname (
            .Q (uart_en_d1),
            .C (N2),
            .CLK (sys_clk),
            .D (uart_en_d0));
    // defparam uart_en_d1_vname.orig_name = uart_en_d1;
	// ../../rtl/uart_send.v:32

    GTP_DFF_PE /* uart_txd */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b1))
        uart_txd_vname (
            .Q (uart_txd),
            .CE (N124),
            .CLK (sys_clk),
            .D (N125),
            .P (N2));
    // defparam uart_txd_vname.orig_name = uart_txd;
	// ../../rtl/uart_send.v:92


endmodule


module uart_loopback_top
(
    input sys_clk,
    input sys_rst_n,
    input uart_rxd,
    output uart_txd
);
	// SDC constraint : (object sys_clk) (id 1000) (clock sys_clk) (6 : C:/Users/93462/PdsProject/fpga-learn/project/present.fdc)
    wire nt_sys_clk;
    wire nt_sys_rst_n;
    wire nt_uart_rxd;
    wire nt_uart_txd;
    wire \u_uart_loop/N2 ;
    wire [7:0] uart_recv_data;
    wire uart_recv_done;
    wire [7:0] uart_send_data;
    wire uart_send_en;
    wire uart_tx_busy;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="B5", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    (* PAP_DONT_TOUCH *) GTP_INBUF /* sys_clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_clk_ibuf (
            .O (nt_sys_clk),
            .I (sys_clk));
	// ../../rtl/uart_loopback_top.v:5

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="G5", PAP_IO_VCCIO="1.5", PAP_IO_STANDARD="LVCMOS15", PAP_IO_NONE="TRUE" *)    (* PAP_DONT_TOUCH *) GTP_INBUF /* sys_rst_n_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_rst_n_ibuf (
            .O (nt_sys_rst_n),
            .I (sys_rst_n));
	// ../../rtl/uart_loopback_top.v:6

    uart_loop u_uart_loop (
            .send_data (uart_send_data),
            .recv_data (uart_recv_data),
            .N2 (\u_uart_loop/N2 ),
            .send_en (uart_send_en),
            .recv_done (uart_recv_done),
            .sys_clk (nt_sys_clk),
            .sys_rst_n (nt_sys_rst_n),
            .tx_busy (uart_tx_busy));
	// ../../rtl/uart_loopback_top.v:53

    uart_recv u_uart_recv (
            .uart_data (uart_recv_data),
            .uart_done (uart_recv_done),
            .N2 (\u_uart_loop/N2 ),
            .sys_clk (nt_sys_clk),
            .uart_rxd (nt_uart_rxd));
	// ../../rtl/uart_loopback_top.v:29

    uart_send u_uart_send (
            .uart_din (uart_send_data),
            .uart_tx_busy (uart_tx_busy),
            .uart_txd (nt_uart_txd),
            .N2 (\u_uart_loop/N2 ),
            .sys_clk (nt_sys_clk),
            .uart_en (uart_send_en));
	// ../../rtl/uart_loopback_top.v:42

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="R10", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    (* PAP_DONT_TOUCH *) GTP_INBUF /* uart_rxd_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        uart_rxd_ibuf (
            .O (nt_uart_rxd),
            .I (uart_rxd));
	// ../../rtl/uart_loopback_top.v:7

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="T10", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* uart_txd_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        uart_txd_obuf (
            .O (uart_txd),
            .I (nt_uart_txd));
	// ../../rtl/uart_loopback_top.v:8


endmodule

